<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Landing Page</title>
</head>

<body>
    <div class="row">
        <div class="col s12">
            <div class="jumbotron grey darken-4">
                <nav class="nav-extended grey darken-4">
                    <div class="nav-content">
                        <ul class="tabs tabs-transparent">
                            <li class="tab"><a href="#home">Home</a></li>
                            <li class="tab disabled"><a href="#Us">Us</a></li>
                        </ul>
                    </div>
                    <div class="nav-wrapper">
                        <h1 class="white-text center-align">Membit</h1>
                        <a href="#" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        </ul>
                    </div>
                </nav>
                <div class="right-align">
                    <a href="searchPage.html" class="btn">Search</a>
                </div>
                <br>
                <div class="right-align">
                    <a class="btn btn-primary btn-lg" href="#" role="button">User</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s3"></div>
                <div class="col s6"> <h5 class="strong">Create a profile to log your entire collection!</h5 class="strong"></div>
                <div class="col s3"></div>
            </div>
            <div class="row">
                <div class="col s3"></div>
                <div class="col s6">
                    <p>Once you have created your own profile, search games to add and drop from your list - view your entire collection with ease!</p>
                    <a href="" class="btn">Show me!</a>
                </div>
                <div class="col s3"></div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s3"></div>
                <div class="col s6"><h5 class="strong">Access a plethora of game information!</h5 class="strong"></div>
                <div class="col s3"></div>
            </div>
            <div class="row">
                <div class="col s3"></div>
                <div class="col s6">
                    <p>Just by clicking on a title in your list or searching for a specific game, view tons of information regarding that title including rating, release, platforms, and box art!</p>
                    <a href="" class="btn">Wow so much!</a>
                </div>
                <div class="col s3"></div>
            </div>
        </div>
    </div>

    <footer class="page-footer grey darken-4">
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <div class="row">
                        <div class="col s6">
                            <h5 class="white-text">Link</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6"><a href="">Browse</a></div>
                    </div>
                    <div class="row">
                        <div class="col s6"><a href="">Us</a></div>
                    </div>
                </div>
                <div class="col s6">
                    <h5 class="white-text">We love games!</h5>
                    <p>From our passionto yours, we created a collection app to revisit and catalog old titles we've played - being fanatics ourselves - over the years.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright Text
            </div>
        </div>
    </footer>
</body>

</html>