<div class="container">
    <div class="row">
        <input id="usernameText" type="text">
        <input id="usernameInput" type="submit" value="Test">
    </div>
    <div class="row">
        <p>Username is: <span id="username"></span></p>
    </div>
    <div class="row">
        <input id="search" type="text">
    </div>
    <div class="row">
        <div id="searchResults"></div>
    </div>
    <div class="collection"></div>
</div>
