<div class="container">
    <div class="row">
        <input id="usernameText" type="text">
        <input id="usernameInput" type="submit" value="Test">
    </div>
    <div class="row">
        <p>Username is: <span class="username"></span></p>
    </div>
    <div class="row">
        <input id="search" type="text">
    </div>
    <div class="row" id="searchResults">
        <div id="searchResultsTable"></div>
    </div>
    <div id="collectionName">
        <p><h4><span class="username"></span>'s Collection</h4></p>
    </div>
    <div id="collection">
    </div>
</div>
