<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper black">
        <a href="#!" class="brand-logo">Membit</a>
        <ul class="right">
            <li>
                <div class="input-field">
                    <i class="tiny material-icons prefix">account_circle</i>
                    <input id="usernameText" class="gray lighten-2" type="text">
                    <label for="usernameText">Username</label>
                    {{!-- <input id="usernameInput" type="submit" value="Submit"> --}}
                </div>
            </li>
        </ul>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row">
    </div>
    <div class="row">
        <div class="input-field">
            <i class="tiny material-icons prefix">search</i>
            <input id="search" type="text">
            <label for="search">Search</label>
        </div>
    </div>
    <div class="row" id="searchResults">
        <div id="searchResultsTable"></div>
    </div>
    <div id="collectionName">
        <p><h4><span class="username"></span>'s Collection</h4></p>
    </div>
    <div id="collection">
    </div>
</div>
